## Dictionary

- 영어 사전과 같은 구조
    - 단어: 뜻
    - 키: 값
        - 키로 값을 찾기 때문에, 키는 중복되지 않는 고유한 값
    - ':'으로 짝 지어져 있는 형태의 자료구조
- 순서가 없다 = 인덱싱이 불가능하다
- 가변 타입이어서 수정, 삭제, 추가가 가능하다
- 타입은 dict
- 형 변환은 dict()
- 중괄호 {}를 사용하며, 콤마로 구분한다
- 값에 다양한 자료구조가 올 수 있다 (중요!!)
    - 단순히 a:1 뿐만 아니라, a:[1, 2, 3, 4]와 같이 리스트도 값에 올 수 있다

In [5]:
# 빈 딕셔너리 선언하는 방법
empty = dict()
empty_dict = {}
print(type(empty), type(empty_dict))

# set
empty_set = set()
print(type(empty_set))

<class 'dict'> <class 'dict'>
<class 'set'>

In [6]:
# set과 헷갈리지 않도록 주의!

# 이렇게 초기화하면 set
_set = {1, 2, 3}

# 이렇게 초기화해야 dict
_dict = {1:'apple', 2:'banana', 3:'kiwi'} 

_set, _dict

({1, 2, 3}, {1: 'apple', 2: 'banana', 3: 'kiwi'})

In [7]:
# ':'로 딕셔너리 만들기 귀찮은 경우

# 이런식으로 선언하는 방식도 가능하다
# 이 경우 키 값은 '' 안해도 됨
_dict = dict(apple='a', banana='b', kiwi='c')
_dict

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

### 딕셔너리 실습 1
- 출석부로 딕셔너리 만들기
- 이름, 학번, 학과

    james 202201 경제학과
    
    laura 202203 스페인어과
    
    louis 202202 컴공과

In [9]:
# key 값은 중복이 안되는 것으로 (학번)
# value 값에는 다양한 자료구조를 넣을 수 있다
# 값을 하나하나 활용할 수 있다

{202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

## 형 변환
- key, value 값이 쌍으로 있을 때 가능하다

In [10]:
# [] 안에 []가 쌍으로 존재할 때
# 튜플이어도 가능하다

ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [11]:
# 만약 키가 똑같다면, 마지막 것을 기준으로

ex2 = [[1, 2], [2, 3], [1, 3]]
dict(ex2)

{1: 3, 2: 3}

In [12]:
# 문자열도 가능한데, 딱 두자리만 있어야한다
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

In [13]:
# 문자열이 세자리가 되면 오류
ex4 = ['ab', 'bc', 'cde']
dict(ex4)

ValueError: dictionary update sequence element #2 has length 3; 2 is required

## 항목 조회 & 변경 & 추가 & 삭제

In [55]:
# 성과 이름이 담긴 딕셔너리

pythons = {
    'Chapman': 'Graham',
    'Cleese': 'john',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [56]:
# 조회
# key로 value값을 찾는다
pythons['Idle']

'Eric'

In [57]:
# 없는 값이면 예외가 생긴다
pythons['Yong']

KeyError: 'Yong'

In [58]:
# 예외 없이 가는 방법 (오류가 뜨지 않게!)

# 1. 값이 있는지 없는지 확인한 다음에 하기
print('Hwa' in pythons)
print('Palin' in pythons)

# 2. get()
# 있으면 값을 반환, 없으면 None을 반환
print(pythons.get('Lee'))

# 내가 원하는 반환값 설정도 가능함
print(pythons.get('Lee', 0))

False
True
None
0

In [59]:
# 변경 
# key를 찾아서 다른 value를 넣음
pythons['Idle'] = 'james'
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [60]:
# 추가
# 없는 key에 value 추가하면 됨
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [61]:
# 여러 개를 추가하는 경우 update (병합)
# 만약 원래 있던 key면, 마지막의 값을 기준으로 업데이트 한다
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}

pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [62]:
# py3에서만 가능한 추가 방법
new = {
    'Yong': 'Sangwoo',
    'Hong': 'Gildong'
}

# new가 뒤에 붙음, 새로 추가한 내용이 뒤로 감
print({**pythons, **new})

# new가 앞에 붙음, 새로 추가한 내용이 앞으로 옴
print({**new, **pythons})

{'Chapman': 'Graham', 'Cleese': 'john', 'Idle': 'james', 'Jones': 'Terry', 'Palin': 'Michael', 'Hwa': 'Chloe', 'Marx': 'Groucho', 'Howard': 'Moe', 'Yong': 'Sangwoo', 'Hong': 'Gildong'}
{'Yong': 'Sangwoo', 'Hong': 'Gildong', 'Chapman': 'Graham', 'Cleese': 'john', 'Idle': 'james', 'Jones': 'Terry', 'Palin': 'Michael', 'Hwa': 'Chloe', 'Marx': 'Groucho', 'Howard': 'Moe'}

In [63]:
# 삭제 
# key 값을 입력하면 key와 value가 삭제됨
del pythons['Hwa']
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [64]:
# 앞의 get()처럼 사용하는 함수가 pop()
# 값을 반환한 뒤 삭제됨
print(pythons.pop('Marx'))
print(pythons)

Groucho
{'Chapman': 'Graham', 'Cleese': 'john', 'Idle': 'james', 'Jones': 'Terry', 'Palin': 'Michael', 'Howard': 'Moe'}

In [65]:
# 없는 것을 삭제할 때는 예외가 발생
pythons.pop('Lee')

KeyError: 'Lee'

In [66]:
# 없는 것을 삭제할 때 예외가 발생하지 않으려면
# 출력 값을 지정해주어야함
pythons.pop('Lee', 0)

0

In [67]:
# 전체를 삭제하는 방법

# 방법1
pythons.clear()

# 방법2
pythons = {}

pythons

{}

### 전체 조회
- keys()
- values()
- items()

In [71]:
pythons = {'a':'apple', 'b':'banana', 'c':'kiwi'}
pythons

{'a': 'apple', 'b': 'banana', 'c': 'kiwi'}

In [73]:
pythons.keys()

dict_keys(['a', 'b', 'c'])

In [74]:
pythons.values()

dict_values(['apple', 'banana', 'kiwi'])

In [76]:
# key와 value를 전부 조회
# (key, value)의 튜플 형태로
# 딕셔너리를 순회할 때 많이 사용한다

pythons.items()

dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'kiwi')])

In [79]:
# 딕셔너리를 조회하는 함수들은 타입이 dict_----
print(type(pythons.keys()))

# 메모리를 적게 사용하려면 리스트로 형 변환해주는 것이 좋다
print(list(pythons.keys()))

<class 'dict_keys'>
['a', 'b', 'c']

In [82]:
# item 순회
for k, v in pythons.items():
    print(f'{k} = {v}')
print()

# List Comprehension
[(k, v) for k, v in pythons.items()]

a = apple
b = banana
c = kiwi

[('a', 'apple'), ('b', 'banana'), ('c', 'kiwi')]

In [86]:
# items()는 튜플이기 때문에
# 각각 인덱스 접근이 가능

# 0는 key 값, 1은 value 값
print([k[0] for k in pythons.items()])
print([k[1] for k in pythons.items()])

['a', 'b', 'c']
['apple', 'banana', 'kiwi']

### 딕셔너리 실습2
- animal: num_leg 딕셔너리 만들기

    animal = 'cat snake monkey ant spider'.split()
    
    legs = 4, 0, 2, 4, 8

In [94]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

# 방법1
print(dict([(key, value) for key, value in zip(animal, legs)]))

# 방법2
num_leg = {}
for k, v in zip(animal, legs):
    num_leg[k] = v
print(num_leg)

# 방법3 Dictionary Comprehension
print({key:value for key, value in zip(animal, legs)})

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

### 딕셔너리 실습3
- pythons에서 성: 이름
    - 성은 첫 글자만, 이름은 글자 개수로 이루어진 튜플(성, 이름) 리스트로 반환하기

In [96]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'john',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [100]:
# 방법1
print([(key[0], len(value)) for key, value in pythons.items()])

# 방법2
print([(k[0][0], len(k[1])) for k in pythons.items()])

# pythons.itmes()에서 key와 value로 나누기  
# pythons.items()에서 k를 k[0]는 key, k[1]은 value로 나누기

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]
[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

## 복제
- 리스트와 같은 방식
- 할당
    - b = a
    - 같은 주소 참조
- 얕은 복사
    - c = a.copy()
    - 다른 객체 생성
- 깊은 복사

In [112]:
a = {1:1, 2:2, 3:3}
b = a
print(a, b)

# 할당의 문제점 : 복사한 가변객체인 b도 값이 변한다
a[1] = 45
print(a, b)

# 따라서 얕은 복사를 통해 다른 객체를 생성하면
c = a.copy()
print(a, c)

# c의 값은 변하지 않는다
a[2] = 22
print(a, c)

{1: 1, 2: 2, 3: 3} {1: 1, 2: 2, 3: 3}
{1: 45, 2: 2, 3: 3} {1: 45, 2: 2, 3: 3}
{1: 45, 2: 2, 3: 3} {1: 45, 2: 2, 3: 3}
{1: 45, 2: 22, 3: 3} {1: 45, 2: 2, 3: 3}

In [113]:
# 얕은 복사의 문제점 : 가변객체에 대해서 또 참조가 되는 문제
# value에 가변객체가 들어있으면 가변객체가 참조되어 값이 변할 수 있다

a = {1:[1, 2, 3], 2:[2, 3, 4]}
d = a.copy()
print(a, d)

a[1][0] = 100
print(a, d)

{1: [1, 2, 3], 2: [2, 3, 4]} {1: [1, 2, 3], 2: [2, 3, 4]}
{1: [100, 2, 3], 2: [2, 3, 4]} {1: [100, 2, 3], 2: [2, 3, 4]}

In [114]:
# 깊은 복사를 사용하면 문제를 해결할 수 있다

import copy

e = copy.deepcopy(a)
print(a, e)

a[1][1] = 999
print(a, e)

{1: [100, 2, 3], 2: [2, 3, 4]} {1: [100, 2, 3], 2: [2, 3, 4]}
{1: [100, 999, 3], 2: [2, 3, 4]} {1: [100, 2, 3], 2: [2, 3, 4]}

## 비교
- 같다, 다르다만 가능
- 크다, 작다는 불가능

In [115]:
a != b

True

### 딕셔너리 실습4
1. 두개의 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기

    del dict1['태양'] # 이런 방법은 지양
    
    
4. sorted 이용해서 값 정렬하기 
    
    4-1. key 기준
    
    4-2. value 기준

In [116]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [120]:
# 1.
solar_dict = {}
for k, v in zip(solar_kor, solar_eng):
    solar_dict[k] = v
    
# 2.
# 넣을 것이 하나일 때는 update 사용할 필요 없음
# solar_dict.update({'명왕성':'pluto'})
solar_dict['명왕성'] = 'pluto'

# 3-1.
# for loop 사용
# list(solar_dict)
# ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
for key in list(solar_dict):
    if not key.endswith('성'):
        del solar_dict[key]
        
# 3-2.
# List Comprehension 사용
solar_dict = dict([(key, value)
                  for key, value in solar_dict.items()
                  if key.endswith('성')])
        
# 4.
# key 기준 정렬
print(sorted(solar_dict.keys()))
# value 기준 정렬
print(sorted(solar_dict.values()))

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'saturn', 'uranus', 'venus']

## Dictionary Comprehension
- 리스트 컴프리헨션을 한 후에 딕셔너리로 감싸는 것은 비효율적
- 그래서 등장한 것이 딕셔너리 컴프리헨션

In [121]:
letter = 'apple'

# 'a': 1, 'p': 2, 'l': 1, 'e': 1 
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [127]:
# 단어의 모음 개수 세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# set(word)
# {'m', 'p', 'i', 'e', 't', 'o', 'a', 'n'}
print({w: word.count(w) for w in set(word) if w in vowels})

# vowels 순회
print({v: word.count(v) for v in set(vowels) if v in word})

{'i': 1, 'e': 1, 'o': 4, 'a': 2}
{'i': 1, 'e': 1, 'o': 4, 'a': 2}

In [128]:
# 딕셔너리 실습4에서 #3을 딕셔너리 컴프리헨션으로 만들기

# 3.
# solar_dict = dict([(key, value)
#                   for key, value in solar_dict.items()
#                   if key.endswith('성')])

solar_dict = {key:value
             for key, value in solar_dict.items()
             if key.endswith('성')}
solar_dict

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

## sorting

In [129]:
# 그냥 sorted만 사용하면 딕셔너리의 key만 가져간다

sorted(solar_dict)

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']

In [132]:
# 0 = key, 1 = value
def key_sort(x):
    return x[0]

def value_sort(x):
    return x[1]

# 나만의 정렬 기준 함수를 정의해서 key에 넣는다
print(sorted(solar_dict.items(), key=key_sort))
print(sorted(solar_dict.items(), key=value_sort))

[('금성', 'venus'), ('명왕성', 'pluto'), ('목성', 'jupiter'), ('수성', 'mercury'), ('천왕성', 'uranus'), ('토성', 'saturn'), ('해왕성', 'neptune'), ('화성', 'mars')]
[('목성', 'jupiter'), ('화성', 'mars'), ('수성', 'mercury'), ('해왕성', 'neptune'), ('명왕성', 'pluto'), ('토성', 'saturn'), ('천왕성', 'uranus'), ('금성', 'venus')]

In [133]:
# 익명함수 lambda
# 함수에서 이름 짓는 부분과 예약어를 빼고 익명으로 함수를 구현

sorted(solar_dict.items(), key=lambda x: x[0])

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

## Set
- 딕셔너리에서 키만 가지고 있다 
- 중복이 없다
- 수학에서 집합의 개념
- 순서가 없다 = 인덱싱도 없다

In [135]:
# set 만드는 방법
empty = set()
empty

set()

In [136]:
# 값이 있을 때는 그냥 넣으면 된다
a = {1, 2, 3}
a

{1, 2, 3}

In [139]:
# 시퀀스이기 때문에 튜플이나 리스트로 넣어야 한다
b = set((1, 2, 3))
b

{1, 2, 3}

In [140]:
# 튜플이나 리스트로 넣지 않을 경우 오류
c = set(1, 2, 3)
c

TypeError: set expected at most 1 argument, got 3

In [143]:
# a = {1, 2, 3}
# set 원소 추가
a.add(4)
print(a)

# set 원소 삭제
a.remove(4)
print(a)

{1, 2, 3, 4}
{1, 2, 3}

In [148]:
drinks = {
    'martini':{'vodka', 'vermouth'},
    'black russian':{'vodka', 'kahlua'},
    'white russian':{'vodka', 'kahlua', 'cream'},
    'screwdriver':{'orange juice', 'vodka'}
}

# 1. vodka가 포함된 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)
print()

# 2. vodka는 있지만 cream, vermouth는 없는 술 출력
for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print(k)

martini
black russian
white russian
screwdriver

black russian
screwdriver

### set 활용
- 교집합
    - a.intersection(b)
    - a & b
- 합집합 (union)
    - a.union(b)
    - a | b
- 차집합 (difference)
    - a.difference(b)
    - a - b

In [150]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합
print(a.intersection(b))
print(a & b)
print()

# 합집합
print(a.union(b))
print(a | b)
print()

# 차집합
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)

{2, 3}
{2, 3}

{1, 2, 3, 4}
{1, 2, 3, 4}

{1}
{1}
{4}
{4}

In [152]:
# vodka는 있지만 cream, vermouth는 없는 술 출력
# set을 활용하여 바꾸기
for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print(k)
print()

for k, v in drinks.items():
    if 'vodka' in v and not (v & {'cream', 'vermouth'}):
        print(k)

black russian
screwdriver

black russian
screwdriver

In [153]:
# set comprehension
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [154]:
# frozenset
# 가변 객체를 불변 객체로 만들어 주는 것
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})